
<div class="grid grid-cols-5">
  <div class="max-w-sm rounded overflow-hidden shadow-lg" *ngFor="let movie of movies">
      <img class="w-full" [src]="movie.ImdbPosterUrl" [alt]="movie.Title">
      <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">
            <p>Title = {{"movie.Title"}}</p>
            <br>
            <p>Director = {{"movie.Director"}}</p>
            <br>
            <p>Rotten Tomatoes Rating = {{"movie.RottenTomatoesRating"}}</p>
            <br>
            <p>Year = {{"movie.Year"}}</p>
            <br>
            <p>Plot = {{"movie.Plot"}}</p>
          </div>
      </div>
  </div>
</div>

<router-outlet></router-outlet>
